[submodule "week1_baseball"]
	path = week1_baseball
	url = https://github.com/youngsu5582/java-baseball-6
	branch = youngsu5582
[submodule "week2_racingcar"]
	path = week2_racingcar
	url = https://github.com/youngsu5582/java-racingcar-6
	branch = youngsu5582
[submodule "week3_lotto"]
	path = week3_lotto
	url = https://github.com/youngsu5582/java-lotto-6
	branch = youngsu5582
[submodule "week4_christmas"]
	path = week4_christmas
	url = https://github.com/youngsu5582/java-christmas-6-youngsu5582
